.cart-container{
    height: 3000px;
}

.cart-savings-div{
    background-color: rgb(245,245,247);
}

.cart-total h2{
    margin-top: 5%;
    margin-bottom: 2%;
    font-size: 2.5em;
    font-weight: 500;
}

.cart-total button{
    width: 20%;
    padding-top: 0.7%;
    padding-bottom: 0.7%;
    border-radius: 0.5em;
    border: none;
    background-color: rgb(0,113,227);
    font-size: 1em;
    color: white;
    margin-bottom: 5%;
}

.divider-hr{
    width: 70%;
    margin: auto;
    margin-bottom: 2%;
}

.cart-items > hr{
    width: 80%;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 4.5em;
}

.cart-item-template{
    height: 32em;
    width: 70%;
    margin: auto;
    margin-top: 5%;
}

.cart-item-template-row1{
    height: 40%;
    display: flex;
}

.cart-item-img{
    height: 12em;
    width: 22em;
    padding: 1.5em 0em 1em 2.5em;
}

.cart-item-img img{
    height: 100%;
    width: 100%;
}

.cart-item-name-installment{
    padding-left: 0em;
    padding-right: 1em;
}

.cart-item-name-installment h3{
    padding: 0em 0em 2em 0em;
    text-align: left;
    margin-left: 2.5em;
    font-size: 1.5em;
    font-weight: 500;
}

.cart-item-name-installment p{
    text-align: left;
    margin-left: 3.5em;
}

.quantity-select-and-remove > div{
    display: flex;
    justify-content: space-between;
    width: 100%;
    float: right;
    font-size: 1.5em;
    font-weight: 400;
}

.quantity-select-and-remove p:nth-child(2){
    margin-top: 4.5em;
    color: rgb(212,98,0);
}

.quantity-select-and-remove p:nth-child(4){
    margin-top: 2em;
}

.quantity-select-and-remove p{
    text-align: right;
    text-wrap: nowrap;
    margin-right: 0.5em;
}

.cart-item-template hr{
    width: 72%;
    float: right;
}

.cart-item-template-row2 > div{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 1em;
}

.cart-item-template-row2 > div > div{
    display: flex;
    align-items: center;
    margin-left: 15em; 
}

.cart-item-template-row2 > div > div > h3{
    font-weight: 500;
}

.cart-item-template-row2 > div > span{
  margin-right: 0.5em;  
}

.cart-item-template-row2 > div > div > i{
    margin: 0em 1em;
    color: rgb(236,0,2);
}

.cart-item-template-row2 > ul{
    width: 40%;
    text-align: left;
    margin-left: 20em;
}

.cart-item-template-row2 > p{
    text-align: left;
    margin-left: 20em;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.cart-item-template-row3 > div:nth-child(1){
    text-align: left;
    text-wrap: nowrap;
    display: flex;
    margin-left: 17em;
    align-items: center;
    padding-top: 1em;
}

.cart-item-template-row3 > div:nth-child(1) h3{
    font-weight: 500;
}

.cart-item-template-row3 > div:nth-child(2) span{
    font-size: 0.9em;
    padding: 0em 1em;
    
}

.cart-checkout{
    height: 25em;
    width: 70%;
    margin: auto;
}

.cart-checkout > div:not(.cart-total-savings){
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-left: 30%;
}

.cart-checkout > div > p{
    margin-top: 0.7em;
}

.cart-total-savings{
    text-align: end;
}

.cart-total-savings > p:nth-child(1){
    color: rgb(212,98,0);
}

.cart-checkout hr{
    width: 70%;
    margin-left: 30%;
    margin-top: 1em;
    margin-bottom: 1em;
}

.cart-checkout button{
    float: right;
    margin-top: 2em;
    width: 35%;
    height: 3.5em;
    border-radius: 1em;
    border: none;
    background-color: rgb(0,113,227);
    color: white;
    font-size: 1em;
}

.cart-need-help p{
    text-align: left;
    padding-left: 12em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.cart-you-may-also-like{
    display: flex;
    justify-content: space-around;
}

.cart-you-may-also-like-h2{
    font-size: 2em;
    font-weight: 600;
    margin-top: 2em;
    margin-bottom: 1em;
}

.cart-you-may-also-like img{
    height: 100%;
    width: 100%;
}

.cart-you-may-like-template{
    width: 18%;
    height: 40em;
}

.cart-you-may-like-template p, .cart-you-may-like-template h3{
    text-align: left;
}

.cart-you-may-like-img-div{
    height: 40%;
    width: 90%;
    margin: auto;
    margin-top: 1em;
}

.cart-you-may-like-template button{
    margin-top: 10em;
    width: 100%;
    height: 3em;
    font-size: 1em;
    border-radius: 0.5em;
    border: none;
    background-color: rgb(0,113,227);
    color: white;
}

.show-more-products{
    padding-top: 1em;
    margin-bottom: 1em;
}

.cart-new-arrivals{
    height: 25em;
}

.cart-new-arrivals-img-div{
    margin: auto;
    width: 60%;
    height: 90%;
    margin-top: 7em;
    position: relative;
}

.cart-new-arrivals-text{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top:7em;
    left: 5em;
}

.cart-new-arrivals-text h3{
    font-size: 2em;
    font-weight: 500;
}

.cart-new-arrivals-text p{
    margin-top: 1em;
}

.cart-new-arrivals img{
    height: 100%;
    width: 100%;
}

.cart-qns-about-buying{
    height: 4em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5em;
    font-weight: 400;
}
