.storebody-container{
    height: 3500px;
    background-color: rgb(245,245,247);
}

.nav-background{
    height: 3em;
    
}

.savings-div{
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9em;
    font-weight: 400;
    background-color: white;
}

.savings-div p{
    margin: 0 4em;
}

.store-heading-and-assistance{
    height: 15em;
    display: flex;
}

.store-heading{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    padding: 5%;
    text-align: start;
    margin-left: 8%;
    font-weight: 500;
    color: grey;
}

.store-word{
    color: black;
}

.store-assistance{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 0.8em;
    font-weight: 500;
    text-align: start;
}

.store-assistance > div{
    width: 60%;
    height: 3.5em;
    display: flex;
    margin-top: 1em;
}

.store-assistance-text{
    padding-left: 10%;
}

.store-assistance-text p{
    margin: 2px;
}

.store-assistance-icon{
    height: 80%;
    width: 18%;
    margin-top: 2%;
    border-radius: 50%;
}

.store-assistance-icon img{
    height: 110%;
    width: 110%;
}

.store-all-products-slider{
    height: 10em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 1em;
}

.store-all-products-slider-card{
    height: 80%;
    width: 10%;
    margin: 0% 0.5%;
}

.store-all-products-slider-card > div{
    height: 70%;
}

.store-all-products-slider-card img{
    height: 100%;
    width: 100%;
}

.store-all-products-slider-card p{
    margin-top: 5%;
    font-weight: 500;
}

.store-all-products-slider-card p:hover{
    text-decoration: underline;
}

.text-blue{
    color: blue;
}

.underline:hover{
    text-decoration: underline;
}

.black-border{
    border: 1px solid black;
}